.c-container {
  text-align: center;
  padding: 80px 5%;
  background-color: #f8f9fa;
}

.c-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1d1d1d;
}

.c-title span {
  color: #EE8100;
}

.client-header p {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  margin: 0 auto 40px;
  text-align: center;
  z-index: 2;

}

.c-slider-wrapper {
  width: 100%;
  position: relative;

}

.c-grid {
  display: flex;
  animation: slide 17s linear infinite;
  padding: 40px 5%;

  width: fit-content;
}

.c-item {
  flex: 0 0 auto;
  display: flex;
  width: 120px;
  height: 80px;
}

.c-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.c-item img:hover {
  transform: scale(1.08);
}

.testimonial-wrapper {
  margin-top: 100px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);

  }
}

@media (max-width: 992px) {
  .c-title {
    font-size: 2rem;
  }

  .client-header p {
    font-size: 1rem;
  }

  .c-item {
    width: 90px;
  }

  .c-grid {
    gap: 30px;
    padding: 30px 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .c-container {
    padding: 50px 5%;
  }

  .c-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .client-header p {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .c-grid {
    gap: 25px;
    padding: 20px 0;
    animation: scroll 13s linear infinite;
    /* Faster for small screens */
  }

  .c-item {
    width: 70px;
    /* Adjust logo size */
  }
}

/* Extra small */
@media (max-width: 480px) {
  .c-title {
    font-size: 1.6rem;
  }

  .c-item {
    width: 55px;
  }

  .c-grid {
    gap: 20px;
    animation: scroll 13s linear infinite;
  }
}