.footer {
  background-color: #0a1a2f;
  color: #ffffff;
  padding: 3rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;


}

.container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between; 
  align-items: flex-start;
}


.footer-section {
  flex: 1 1 250px;
  min-width: 240px;
}

.logo-text {
  font-weight: 800;
  font-size: 1.8rem;
  color: #EE8100;
  margin-bottom: 1rem;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #cbd5e1;
  max-width: 320px; 
}


.footer-section h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer-section h3:hover{
    color:#EE8100
}
.footer-section ul li a {
  color: inherit;
  text-decoration: none;
}


.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 0.8rem;
  color: #e2e8f0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section ul li:hover {
  color: #EE8100;
  transform: translate(7px) ;
}
.footer-section.links ul li,
.footer-section.links ul li a {
  cursor: default; 
}
.footer-section.links ul li a:hover {
  cursor: pointer; 
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #EE8100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #EE8100;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  background-color: #EE8100;
  color: #ffffff;
}


.icon {
  vertical-align: middle;
  stroke: #EE8100;
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.footer-bottom {
  margin-top: 3rem;
  border-top: 1px solid #1e293b;
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #94a3b8;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 1rem;
}



.headset-icon {
  width: 20px;
  height: 20px;
  stroke-width: 2.5;
}

/* Responsive */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    text-align: center !important;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
