
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  /* background: rgba(5, 15, 40, 0.9); */
  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background: rgba(5, 15, 40, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .brand {
 width: 200px;
  
}
.brand:hover {
  transition: 0.9s ease;
     transform: scale(1.3);
}


.nav-links {
  display: flex;
  list-style: none;
  margin-top: 1.5rem;
  gap: 25px;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
 
}

.nav-links li:hover {
  color: #EE8100;
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* ---------------- MOBILE NAV ---------------- */
@media (max-width: 900px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background: rgba(5, 15, 40, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: right 0.4s ease;
  }
  .navbar {
    padding: 14px 25px;
  }
   .nav-container img {
    width: 150px;
  }
  .nav-links.active {
    right: 0;
  }

  .nav-links li a {
    font-size: 1.1rem;
  }

  .hamburger {
    display: flex;
  }
}

/* ---------------- SMALLER SCREENS ---------------- */
@media (max-width: 480px) {
  .navbar {
    padding: 12px 20px;
  }
    .nav-container img {
    width: 130px;
  }
  .logo {
    font-size: 1.4rem;
  }
  nav-links {
    width: 220px;
    gap: 25px;
  }
  .hamburger span {
    width: 22px;
  }
}
