.products-section {
  padding: 60px 5%;
  background-color: #f8f9fc;
  text-align: center;

}

.products-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: black;
}

.products-title span {
  color: #EE8100;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;
}

.product-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
   display: flex;
  flex-direction: column; /* makes content stack vertically */
  height: 100%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-image  {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  object-fit: cover;
}
.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-image img {
  transition: transform 0.45s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.08);
}
.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px 30px;
}

.product-info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0d1b2a;
  margin-bottom: 8px;
}
.product-card:hover .p-title{
  color:#EE8100
}
.product-info p {
  flex: 1;
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 18px;
}


.view-btn {
  background-color:white;
  color:#EE8100;
  border: 2px solid #EE8100;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background-color:#EE8100;
  color: white;
  transform: translateY(-2px);
}

.view-btn i {
  font-size: 1rem;
  color: #EE8100;
}

/* Responsive */
@media (max-width: 768px) {
  .products-title {
    font-size: 2rem;
  }

  .product-info p {
    font-size: 0.9rem;
  }
  
  .products-section {
    padding: 50px 20px;
  }

  .product-image {
    height: 180px;
  }
}
@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .products-title {
    font-size: 1.8rem;
  }

  .product-image {
    height: 160px;
    padding: 14px;
  }

  .product-info {
    padding: 18px;
  }

  .view-btn {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}

@media (max-width: 360px) {
  .products-title {
    font-size: 1.6rem;
  }

  .product-info h3 {
    font-size: 1.1rem;
  }
  .product-info p {
    font-size: 0.85rem;
  }

  .product-image {
    height: 150px;
    padding: 12px;
  }
}